<div fxLayoutAlign="center center" fxLayout="column"  class="container">
<div class="mat-display-3">Welcome to Butler Hotels</div>
<div class="mat-h1">Currently the only available page is your Profile</div>
</div>
