<div fxLayoutAlign="center" class="container">

  <mat-card fxFlex="30%" style="margin-right: 15px">
    <!--title-->
    <span class="mat-h3" style="text-align: center">Your personal info</span>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column" fxLayoutAlign="center" style="padding: 20px">
      <!--first name-->
      <mat-form-field>
        <input matInput placeholder="First name" [(ngModel)]="firstName" name="firstName">
      </mat-form-field>
      <!--last name-->
      <mat-form-field>
        <input matInput placeholder="Last name" [(ngModel)]="lastName" name="lastName">
      </mat-form-field>
      <!--phone number-->
      <mat-form-field>
        <input matInput placeholder="Phone number" [(ngModel)]="phone" name="phone" type="tel">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <!--birthday-->
      <mat-form-field>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="birthday"
               placeholder="Birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </mat-card-content>
  </mat-card>


  <mat-card fxFlex="30%" style="margin-right: 15px">
    <!--title-->
    <span class="mat-h3" style="text-align: center">Your preferences</span>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column" fxLayoutAlign="center" style="padding: 20px">
      <!--wake up-->
      <span class="mat-h4" style="text-align: left">I wake up at: <b >{{changeTime()}}</b></span>
      <mat-slider
        [(ngModel)]="wakeUpTime"
        [min]="minMinute"
        [max]="maxMinute"></mat-slider>
      <!--alarm service-->
      <mat-slide-toggle>Alarm service!</mat-slide-toggle>
      <br>
      <!--diet-->
      <mat-form-field>
        <mat-select placeholder="choice of diet:">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>


</div>
