<div fxLayoutAlign="center center" class="container">
  <mat-card fxLayout="column" fxFlex="30%">
    <!--logo-->
    <img src="../../../../../assets/butler-logo.jpg" class="logo"/>
    <form [formGroup]="formGroup" (submit)="login(formGroup)">
    <mat-card-content fxLayout="column" style="padding: 20px">
      <!--username-->
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <!--password-->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password"  [type]="hide ? 'password' : 'text'"
               formControlName="password">
        <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <!--spinner-->
      <mat-spinner strokeWidth="1" diameter="35"
                   [style.visibility]="showSpinner ? 'visible' : 'hidden'"
                   style="margin: auto;"></mat-spinner>
    </mat-card-content>
    <!--buttons-->
    <mat-card-actions fxLayoutAlign="center">
      <button mat-raised-button [disabled]="formGroup.invalid" type="submit" color="primary">Log in</button>
    </mat-card-actions>
    </form>
    <!--hint-->
    <div fxLayoutAlign="center">
      <a class="mat-caption" routerLink="/forgot-password">Forgot Password?</a>
      <span style="padding: 0 5px"> | </span>
      <a class="mat-caption" routerLink="/signup">Create account</a>
    </div>

  </mat-card>
</div>
