<div fxLayoutAlign="center center" class="container">
  <mat-card fxLayout="column" fxFlex="30%">
    <!--logo-->
    <img src="../../../../../assets/butler-logo.jpg" class="logo"/>
    <!--title-->
    <div fxLayout="column">
      <span class="mat-h3" style="margin: 0; text-align: center">Reset your</span>
      <span class="mat-h2" style="text-align: center">Butler Password</span>
    </div>
    <form [formGroup]="formGroup" (submit)="resetPassword(formGroup)">
    <mat-card-content fxLayout="column" class="form">
        <!--password-->
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput placeholder="New Password" type="password"
                 formControlName="password">
        </mat-form-field>
        <!--confirm password-->
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Confirm Password"
                 type="password" formControlName="confirmPassword"  [errorStateMatcher]="matcher">
          <mat-error *ngIf="formGroup.hasError('notSame')">Passwords do not match</mat-error>
        </mat-form-field>
      <!--spinner-->
      <mat-spinner strokeWidth="1" diameter="35"
                   [style.visibility]="showSpinner ? 'visible' : 'hidden'"
                   style="margin: auto;"></mat-spinner>
    </mat-card-content>
    <!--buttons-->
    <mat-card-actions fxLayoutAlign="center">
      <button mat-raised-button [disabled]="formGroup.invalid" type="submit" color="primary">Reset</button>
    </mat-card-actions>
    </form>
    <!--hint-->
    <div fxLayoutAlign="center">
      <a class="mat-caption" style="text-decoration: none" routerLink="/login">Go to Log in</a>
    </div>
  </mat-card>
</div>
