<div fxLayoutAlign="center center" class="container">
  <mat-card fxLayout="column" fxFlex="30%">
      <!--title-->
      <div fxLayout="column">
        <span class="mat-h3" style="margin: 0; text-align: center">Create your</span>
        <span class="mat-h2" style="text-align: center">Butler Account</span>
      </div>
    <form [formGroup]="formGroup" (submit)="signup(formGroup)">
      <mat-card-content fxLayout="column" class="form">
        <!--email-->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" type="email">
        </mat-form-field>
        <!--username-->
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <!--password group-->
        <div formGroupName="passGroup" fxLayout="column">
          <!--password-->
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" type="password">
          </mat-form-field>
          <!--confirm password-->
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password"
                   type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
            <mat-error *ngIf="formGroup.controls.passGroup.hasError('notSame')">Passwords do not match</mat-error>
          </mat-form-field>
        </div>
        <!--spinner-->
        <mat-spinner strokeWidth="1" diameter="35"
                     [style.visibility]="showSpinner ? 'visible' : 'hidden'"
                     style="margin: auto;"></mat-spinner>
      </mat-card-content>
      <!--buttons-->
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button [disabled]="formGroup.invalid" type="submit" color="primary">Sign up</button>
      </mat-card-actions>
    </form>
    <div fxLayoutAlign="center">
      <span class="mat-caption" style="padding-right: 5px">Already have an account?</span>
      <a class="mat-caption" style="text-decoration: none" routerLink="/login">Log in</a>
    </div>
  </mat-card>

</div>

